/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";

.padding-buttom-5 {
  padding-bottom: 5px;
}
.space {
  width: 4px;
  height: auto;
  display: inline-block;
}
